
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div style="display: flex;align-items: center;flex-direction: COLUMN;">
        <h2 class="text-center">Bienvenido <strong>John doe</strong></h2>
    </div>
</div>

